.example-grid .content {
    display: grid;
    grid-template-columns: repeat(4, var(--item-width));
    grid-gap: var(--items-gap);
}

.example-grid .content .item-label {
    background-color: red;
    text-align: center;
}

.example-grid .content input[type=radio] {
    display: none;
}

.example-grid .content .item-content {
    display: none;
    background-color: green;

    counter-increment: count 1;
}

.example-grid .content .item-content:nth-child(3),
.example-grid .content .item-content:nth-child(6),
.example-grid .content .item-content:nth-child(9),
.example-grid .content .item-content:nth-child(12) {
    grid-column: 1 / span 4;
    grid-row: 2;
}

.example-grid .content .item-content:nth-child(15),
.example-grid .content .item-content:nth-child(18),
.example-grid .content .item-content:nth-child(21),
.example-grid .content .item-content:nth-child(24) {
    grid-column: 1 / span 4;
    grid-row: 3;
}

.example-grid .content input:checked + .item-content {
    display: initial;
}

@media screen and (max-width: 784px) {
    .example-grid .content {
        grid-template-columns: repeat(2, var(--item-width));
    }

    .example-grid .content .item-content:nth-child(3),
    .example-grid .content .item-content:nth-child(6) {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .example-grid .content .item-content:nth-child(9),
    .example-grid .content .item-content:nth-child(12) {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .example-grid .content .item-content:nth-child(15),
    .example-grid .content .item-content:nth-child(18){
        grid-column: 1 / span 2;
        grid-row: 4;
    }
    .example-grid .content .item-content:nth-child(21),
    .example-grid .content .item-content:nth-child(24) {
        grid-column: 1 / span 2;
        grid-row: 5;
    }
}